<div class="container_login">
  <div class="limit_login">
    <div class="box_login">
      <div class="header_login">
        <div class="icon_login">
          <img src="/img/icon.png" alt="octagram_icon">
          <span>Sign in to Octagram</span>
        </div>
      </div>
      <form class="form_login" action="/login/user" method="POST">
        <input type="email" name="email" id="email" placeholder="Email" value="<%= (locals.old_data) ? old_data.email: '' %>" autocomplete="off" required>
        <input type="password" name="pass" id="pass" placeholder="Password" required>
        <% if (locals.login_error) { %>
          <span>
            <%= login_error %>
          </span>
          <% } %>
        <button>Login</button>
      </form>
      <div class="other_login">
        <span>Or login with</span>
        <a href="/auth/google" class="google_login"><i class="fas fa-brands fa-google"></i> Google</a>
      </div>
      <div class="page_register">
        <span>Not member yet?</span>
        <a href="/register">Sign up</a>
      </div>
    </div>
  </div>
</div>