<div class="container_register">
  <div class="limit_register">
    <div class="header_register">
      <div class="icon_register">
        <img src="/img/icon.png" alt="octagram_icon">
        <span>Sign up to Octagram</span>
      </div>
    </div>
    <form class="form_register" action="/register/user" method="POST">
      <input type="text" name="name" id="name" placeholder="Name">
      <input type="text" name="email" id="email" placeholder="Email">
      <input type="password" name="pass" id="pass" placeholder="Password">
      <button>Register</button>
    </form>
  </div>
</div>