.limit_member_page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.member_page {
  width: 80%;
  height: auto;
  padding: 20px;
}

.member_title {
  width: 100%;
}

.member_title h1 {
  font-family: 'Noto Sans Thai', sans-serif;
}

.nav_setting.active {
  color: #000000;
  width: 100%;
  border-radius: 0;
  border-bottom: 2px solid #c4c4c4;
}

.member_page nav {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.member_page ul {
  display: flex;
}

.member_page ul li {
  margin-right: 20px;
}

.member_page ul li a {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 15px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  border-radius: 0;
}

table {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: #fff;
  border: 1px solid rgb(210, 206, 206);
  border-radius: 10px;
  width: 100%;
  padding: 10px;
}

th, td {
  padding: 8px;
  text-align: left;
}

.active {
  color: green; /* Apply green color for 'Active' status */
}

.inactive {
  color: red; /* Apply red color for 'Inactive' status */
}
