.limit_payout_page {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.limit_payout_page span {
  font-family: 'Noto Sans Thai', sans-serif;
}

.payout_page {
  margin-top: 3vh;
  width: 60%;
  height: auto;
}

.payout_title {
  width: 100%;
}

.payout_title h1 {
  font-family: 'Noto Sans Thai', sans-serif;
}

.nav_setting.active {
  color: #000000;
  width: 100%;
  border-radius: 0;
  border-bottom: 2px solid #c4c4c4;
}

.payout_page nav {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 20px;
}

.payout_page ul {
  display: flex;
}

.payout_page ul li {
  margin-right: 20px;
}

.payout_page ul li a {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 18px;
  margin: 0;
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  width: auto;
  border-radius: 0;
}

.container_payout {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.container_withdraw {
  width: 100%;
  height: 100%;
}

.header_withdraw h1 {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 19px;
  color: #827c7c;
}

.header_withdraw span {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 50px;
  color: #000000;
}

.header_withdraw p {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 14px;
  color: #adaaaa;
}

.container_withdraw {
  display: flex;
  justify-content: space-between;
}

.payout_method {
  margin: auto 0;
}

.payout_method a {
  font-family: 'Noto Sans Thai', sans-serif;
  padding: 10px 20px;
  color: #000;
  background-color: #E7E7E7;
  cursor: pointer;
  border-radius: 5px;
}

.payout_method a:hover {
  background-color: #DBDBDB;
}

.container_month {
  display: flex;
}

.header_month {
  margin-right: 5px;
  font-weight: 600;
}

.container_card {
  margin: 20px 0;
  width: 100%;
  height: auto;
  padding: 50px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  overflow: hidden;
  transform-origin: top;
  animation: dropdown 0.5s forwards;
  display: none;
}

@keyframes dropdown {
  from {
    transform: scaleY(0);
  }

  to {
    transform: scaleY(1);
  }
}

.container_credit_icon {
  display: flex;
  justify-content: space-between;
}

.credit_icon img {
  width: auto;
  height: 300px;
  object-fit: cover;
}

.creadit_header {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: auto;
}

.creadit_header h1 {
  font-family: 'Noto Sans Thai', sans-serif;
  height: auto;
}

.credit_input {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.credit_input span {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 18px;
}

.credit_input input {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 19px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 15px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
}

.credit_input input:hover {
  border-color: #ccc;
}

.credit_input input:focus {
  border-color: #9147ff;
  background: #fff;
}

.credit_detail span {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 24px;
}

.credit_detail input {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 19px;
  border-radius: 6px;
  line-height: 1.5;
  padding: 15px;
  transition: box-shadow 100ms ease-in, border 100ms ease-in, background-color 100ms ease-in;
  border: 2px solid #dee1e2;
  color: rgb(14, 14, 16);
  background: #dee1e2;
  display: block;
  margin-right: 20px;
}

.credit_detail input:hover {
  border-color: #ccc;
}

.credit_detail input:focus {
  border-color: #9147ff;
  background: #fff;
}

.credit_detail {
  width: 100%;
  display: flex;
  margin-top: 10px;
}

.credit_input_holder {
  width: 70%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.credit_input_date {
  width: 20%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.credit_input_csv {
  width: 10%;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.container_payout_list {
  width: 100%;
  height: auto;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.payout_box {
  width: 30%;
  height: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
}

.payout_header_result {
  display: flex;
  justify-content: space-between;
}

.payout_header_result h4 {
  font-family: 'Noto Sans Thai', sans-serif;
}

.icon_data_payout {
  font-size: 20px;
}

.payout_topic_result {
  display: flex;
  justify-content: end;
  width: 100%;
  height: auto;
  margin: 30px 0 0 0;
}

.payout_topic_result h1 {
  font-size: 70px;
}

.payout_header_data {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.payout_header_data h1 {
  font-family: 'Noto Sans Thai', sans-serif;
}

.payout_page hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
  margin: 20px 0;
}

.container_card button {
  background-color: #81ea4c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.container_card button:hover,
.container_card button:focus {
  background-color: #afd48b;
}

.container_card a {
  background-color: #ea4c4c;
  border-radius: 8px;
  border-style: none;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 40px;
  line-height: 20px;
  list-style: none;
  margin: 0;
  outline: none;
  padding: 10px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: color 100ms;
  vertical-align: baseline;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  margin-top: 10px;
}

.container_card a:hover,
.container_card a:focus {
  background-color: #d59595;
}

.tootlip_month_payout {
  margin: auto 0;
}

.tootlip_month_payout label {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 19px;
}

.tootlip_month_payout option,.tootlip_month_payout select {
  font-family: 'Noto Sans Thai', sans-serif;
  font-size: 19px;
}

.tootlip_month_payout select {
  cursor: pointer;
  display: inline-block;
  position: relative;
  font-size: 16px;
  color: #000;
  width: 220px;
  height: 40px;
  border: none;
  background-color: #fff;
  padding: 0 10px;
}