@font-face {
    font-family: Poppins-Regular;
    src: url('../../fonts/poppins/Poppins-Regular.ttf');}

@font-face {
    font-family: Poppins-Bold;
    src: url('../../fonts/poppins/Poppins-Bold.ttf');
}

@font-face {
    font-family: Poppins-Medium;
    src: url('../../fonts/poppins/Poppins-Medium.ttf');
}

@font-face {
    font-family: Montserrat-Bold;
    src: url('../../fonts/montserrat/Montserrat-Bold.ttf');
}

nav a {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.nav_bar {
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
    width: 100%;
    border-bottom: 1px solid rgb(196, 196, 196);
}

.navbar_container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav_links {
    padding-top: 2px;
    list-style: none;
    display: flex;
}

.nav_links li {
    margin-right: 20px;
}

.nav_links li a {
    font-family: 'Noto Sans Thai', sans-serif;
    color: #000000;
}

.nav_icon {
    display: flex;
    list-style: none;
    align-items: center;
}

.nav_icon img {
    width: 40px;
    height: 40px;
}

.nav_icon h1 {
    font-family: Montserrat-Bold;
    padding-left: 4px;
    font-size: 20px;
    font-weight: 10px;
}

.line_box {
    height: 30px;
    width: 2px;
    background-color: #000000;
    margin-left: 10px;
    margin-right: 20px;
}

.nav_register {
    padding-top: 2px;
    list-style: none;
    display: flex;
    margin-left: auto;
}

.nav_register li {
    margin-right: 20px;
}

.nav_links li a:hover,
.nav_links li a.active,
.nav_register li a:hover {
    color: #710df3;
    transition: .1s;
}

.nav_btn {
    position: sticky;
    top: 0px;
    font-size: 30px;
    color: #000;
    cursor: pointer;
    display: none;
}

.dropdown_menu {
    position: absolute;
    right: 10px;
    top: 75px;
    background: #616161;
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    display: none;
}

.dropdown_menu ul li {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.dropdown_menu ul li:last-child {
    padding: 10px;
}

.dropdown_menu ul li a {
    font-size: 15px;
    font-weight: 600;
    color: #fff;
}

.btn_reg {
    background-color: #7d41f5;
    color: #fff;
    padding: 13px 25px;
    width: 300px;
    border: none;
    outline: none;
    border-radius: 40px;
    font-weight: 700;
    cursor: pointer;
    transition: .5s;
}

.btn_reg:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.dropdown_menu .btn_reg {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 768px) {

    .navbar_container .nav_links,
    .navbar_container .nav_register {
        display: none;
    }

    .navbar_container .line_box {
        display: none;
    }

    .navbar_container {
        display: flex;
        justify-content: space-between;
    }

    .navbar_container .nav_btn {
        display: flex;
    }

    .dropdown_menu {
        display: block;
    }
}

@media (max-width: 576px) {
    .dropdown_menu .btn_reg {
        right: 0;
        width: auto;
    }
}
