<div class="container_octagram">
  <div class="container_box">
    <div class="container_text">
      <h1>OCTAGRAM</h1>
      <p>Octagram gives creators the tools they need to reliably reach their fans, strengthen
        their communities, and build sustainable businesses. </p>
      <ul>
        <li><a href="/logout" class="btn_reg">GET STARTED?</a></li>
      </ul>
    </div>
  </div>
</div>

<div class=container_announce>

</div>