<div class="content">
    <div class="limit_member_page">
        <div class="member_page">
            <%- include('./navbar.ejs')%>
                <table>
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>รูป</th>
                            <th>ชื่อคริเอเตอร์</th>
                            <th>แพ็คเกจ</th>
                            <th>วันที่สมัคร</th>
                            <th>เรียกเก็บเงินครั้งล่าสุด</th>
                            <th>เรียกเก็บเงินครั้งต่อไป</th>
                            <th>สถานะ</th>
                        </tr>
                    </thead>
                    <tbody id="member_list_data">
                    </tbody>
                </table>
                <div id="pagination">
                    <button onclick="previousPage()">
                        < </button>
                            <span id="paginationNumbers"></span>
                            <button onclick="nextPage()"> > </button>
                </div>
        </div>
    </div>
</div>

<script>
    let memberlists;
    const itemsPerPage = 5;
    let currentPage = 1;

    function formatDate(dateString) {
        const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit'
        };
        return new Date(dateString).toLocaleDateString('en-GB', options);
    }

    function renderTable(pageNumber, data) {
        let start = (pageNumber - 1) * itemsPerPage;
        let end = start + itemsPerPage;
        let html = '';

        for (let count = start; count < end && count < data.length; count++) {
            html += '<tr>';
            html += '<td>' + (count + 1) + '</td>';
            html += '<td><img src="' + data[count].img + '" alt="user_profile" class="img_member_profile"></td>';
            html += '<td>' + data[count].creator_name + '</td>';
            html += '<td>' + data[count].package_name + '</td>';
            html += '<td>' + formatDate(data[count].member_create_date) + '</td>';
            html += '<td>' + formatDate(data[count].start_date) + '</td>';
            html += '<td>' + formatDate(data[count].end_date) + '</td>';
            const status = data[count].member_status;
            if (status === 0) {
                html += '<td class="inactive_member">ยกเลิก</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                    html += '</td>';
            } else if (status === 1) {
                html += '<td class="active_member">ใช้งาน</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '<a href="/member/cancel?id_member=' + data[count].id_member + '&id_creator=' + data[count].creator_id + '&trans=' + data[count].tran_id + '"><i class="fa-solid fa-power-off member_icon"></i>ยกเลิก</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            } else if (status === 2) {
                html += '<td class="suspended_member">หมดอายุ</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            } else if (status === 3) {
                html += '<td class="expired_member">ระงับการใช้งาน</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            } else if (status === 4) {
                html += '<td class="pending_member">รอการยืนยัน</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            } else if (status === 5) {
                html += '<td class="cancelled_member">ยกเลิก</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            } else if (status === 6) {
                html += '<td class="renewed_member">ต่ออายุ</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            } else {
                html += '<td class="unknown_member">ไม่ทราบสถานะ</td>';
                html += '<td>';
                html += '<div class="container_toottip_member">';
                html += '<i id="tooltip_click" class="material-icons tooltip_click">more_horiz</i>';
                html += '<div class="toottip_member">';
                html += '<a href="/' + data[count].creator_name + '"><i class="fa-solid fa-magnifying-glass member_icon"></i>ดูหน้าเพจ</a>';
                html += '</div>';
                html += '</div>';
                html += '</td>';
            }
            html += '</tr>';
        }

        const member_list_data = $("#member_list_data");
        member_list_data.empty();
        member_list_data.append(html);
    }

    function renderPagination(data) {
        const totalPages = Math.ceil(data.length / itemsPerPage);
        const paginationNumbers = $("#paginationNumbers");
        let html = '';

        for (let i = 1; i <= totalPages; i++) {
            html += '<button onclick="goToPage(' + i + ')">' + i + '</button>';
        }
        paginationNumbers.empty();
        paginationNumbers.append(html);
    }

    function previousPage() {
        if (currentPage > 1) {
            currentPage--;
            renderTable(currentPage, memberlists);
            $('#paginationNumbers button').removeClass('active');
            $('#paginationNumbers button').eq(currentPage - 1).addClass('active');
        }
    }

    function nextPage() {
        const totalPages = Math.ceil(memberlists.length / itemsPerPage);
        if (currentPage < totalPages) {
            currentPage++;
            renderTable(currentPage, memberlists);
            $('#paginationNumbers button').removeClass('active');
            $('#paginationNumbers button').eq(currentPage - 1).addClass('active');
        }
    }

    function goToPage(page) {
        currentPage = page;
        renderTable(currentPage, memberlists);
        $('#paginationNumbers button').removeClass('active');
        currentPage = page;
        renderTable(currentPage, memberlists);
        $('#paginationNumbers button').eq(currentPage - 1).addClass('active');
    }

    function addTooltipEventListeners() {
        const tooltips = document.querySelectorAll('.tooltip_click');

        tooltips.forEach(tooltip => {
            tooltip.addEventListener('click', (event) => {
                event.stopPropagation(); // Prevent the click from reaching the document

                const tooltipContainer = tooltip.closest('.container_toottip_member');
                const tooltipContent = tooltipContainer.querySelector('.toottip_member');

                const allTooltips = document.querySelectorAll('.toottip_member');
                allTooltips.forEach(tt => {
                    if (tt !== tooltipContent) {
                        tt.classList.remove('active');
                    }
                });

                tooltipContent.classList.toggle('active');
            });
        });

        document.addEventListener('click', (event) => {
            const tooltips = document.querySelectorAll('.toottip_member');
            tooltips.forEach(tooltip => {
                tooltip.classList.remove('active');
            });
        });

        document.querySelectorAll('.container_toottip_member').forEach(container => {
            container.addEventListener('click', (event) => {
                event.stopPropagation();
            });
        });
    }

    window.onload = async function () {
        const responseSubscribe = await fetch('/member/subscribe');
        const responseNavbar = await fetch('/member/navbar');

        const memberlists = await responseSubscribe.json();
        const membership = await responseNavbar.json();

        renderTable(1, memberlists);
        renderPagination(memberlists);
        $('#paginationNumbers button:first').addClass('active');

        let html = '';

        if (membership.length > 0) {
            for (let count = 0; membership.length > count; count++) {
                html += '<div class="creator_data">';
                html += '<a href="/' + membership[count].creator_name + '" class="creator_link">';
                html += '<img src=" ' + membership[count].img + '">';
                html += '<span>' + membership[count].creator_name + '</span>';
                html += '</a>';
                html += '</div>';
            }
        } else {
            html += '<div class="creator_data_no">';
            html += '<span><i class="fa-solid fa-user-xmark"></i></span>';
            html += '<span>ยังไม่ได้สมัครสมาชิก</span>';
            html += '<a href="/search">ค้นหาคริเอเตอร์</a>';
            html += '</div>';
        }

        const memberlist_navbar = $("#memberlist_navbar");
        memberlist_navbar.empty();
        memberlist_navbar.append(html);

        addTooltipEventListeners();
    }
</script>