<div class="content">
    <div class="limit_member_page">
        <div class="member_page">
            <%- include('./navbar.ejs')%>

                <table>
                    <thead>
                        <tr>
                            <th>ลำดับที่</th>
                            <th>รูปคริเอเตอร์</th>
                            <th>ชื่อคริเอเตอร์</th>
                            <th>ชื่อหมวดหมู่</th>
                            <th>วันที่</th>
                        </tr>
                    </thead>
                    <tbody id="member_list_data">
                    </tbody>
                </table>

                <div class="container_serach_category">
                    <input type="text" id="searchInput" onkeyup="searchCategories()" placeholder="ค้นหา">
                </div>

                <div id="pagination">
                    <button onclick="previousPage()">
                        <</button>
                            <span id="paginationNumbers"></span>
                            <button onclick="nextPage()">></button>
                </div>

        </div>
    </div>
</div>

<script>
    let category;
    let filteredCategories;
    const itemsPerPage = 10;
    let currentPage = 1;

    function searchCategories() {
        const input = document.getElementById("searchInput");
        const query = input.value.toLowerCase();

        filteredCategories = category.filter(cat => {
            return cat.category_name.toLowerCase().includes(query) ||
                cat.creator_name.toLowerCase().includes(query);
        });

        currentPage = 1;
        renderTable(currentPage, filteredCategories);
        renderPagination(filteredCategories);

        $('#paginationNumbers button:first').addClass('active');
    }

    function formatDate(dateString) {
        const options = {
            year: 'numeric',
            month: '2-digit',
            day: '2-digit'
        };
        return new Date(dateString).toLocaleDateString('en-GB', options);
    }

    function renderTable(pageNumber, data) {
        let start = (pageNumber - 1) * itemsPerPage;
        let end = start + itemsPerPage;
        let html = '';

        for (var count = start; count < end && count < data.length; count++) {
            html += '<tr>';
            html += '<td>' + (count + 1) + '</td>';
            html += '<td><div class="membership_content"><img src="' + data[count].img + '" alt="creator"></div></td>';
            html += '<td>' + data[count].creator_name + '</td>';
            html += '<td>' + data[count].category_name + '</td>';
            html += '<td>' + formatDate(data[count].add_date) + '</td>';
            html += '</tr>';
        }

        const member_list_data = $("#member_list_data");
        member_list_data.empty();
        member_list_data.append(html);
    }

    function renderPagination(data) {
        const totalPages = Math.ceil(data.length / itemsPerPage);
        const paginationNumbers = $("#paginationNumbers");
        let html = '';

        for (let i = 1; i <= totalPages; i++) {
            html += '<button onclick="goToPage(' + i + ')">' + i + '</button>';
        }

        paginationNumbers.empty();
        paginationNumbers.append(html);
    }

    function previousPage() {
        const data = filteredCategories || category;

        if (currentPage > 1) {
            currentPage--;
            renderTable(currentPage, data);

            $('#paginationNumbers button').removeClass('active');

            $('#paginationNumbers button').eq(currentPage - 1).addClass('active');
        }
    }

    function nextPage() {
        const data = filteredCategories || category;

        const totalPages = Math.ceil(data.length / itemsPerPage);
        if (currentPage < totalPages) {
            currentPage++;
            renderTable(currentPage, data);

            $('#paginationNumbers button').removeClass('active');

            $('#paginationNumbers button').eq(currentPage - 1).addClass('active');
        }
    }

    function goToPage(page) {
        const data = filteredCategories || category;

        currentPage = page;
        renderTable(currentPage, data);

        $('#paginationNumbers button').removeClass('active');

        currentPage = page;
        renderTable(currentPage, data);

        $('#paginationNumbers button').eq(currentPage - 1).addClass('active');
    }


    window.onload = async function () {
        const response = await fetch('/category/admin/creator');
        category = await response.json();

        renderTable(1, category);
        renderPagination(category);

        $('#paginationNumbers button:first').addClass('active');
    }


</script>