@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@600&display=swap');

body {
    font-family: 'Noto Sans Thai', sans-serif;
}

main {
    height: calc(100vh - 70px);
    display: flex;
    background-color: #f9f9f9;
}

.content {
    background-color: #F6F7FA;
    width: 100%;
    height: 100%;
    padding: 15px 15px;
    overflow-y: scroll;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
}

.container_dashboard {
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.page_dashboard {
    height: auto;
    width: 95%;
    padding: 20px;
}

.title_dashboard {
    display: flex;
    align-items: center;
}

.title_dashboard h1 {
    font-family: 'Noto Sans Thai', sans-serif;
}

.icon_dashboard {
    font-size: 25px;
    margin-right: 10px;
}

.header_data_dashboard {
    display: flex;
    justify-content: center;
}

.header_data_member {
    display: flex;
    justify-content: center;
}

.data_box {
    background-color: #fff;
    border: 1px solid #e9e7e7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 15px;
    width: calc(25% - 20px);
    margin: 0 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

.data_box h2 {
    font-size: 15px;
    margin-bottom: 10px;
    font-family: 'Noto Sans Thai', sans-serif;
    color: #454444;
}

.data_box span {
    font-family: 'Noto Sans Thai', sans-serif;
}

.data_box:nth-child(1) {
    border-bottom: 3px solid #FF5733;
    /* สีส้ม */
}

.data_box:nth-child(2) {
    border-bottom: 3px solid #3498db;
    /* สีน้ำเงิน */
}

.data_box:nth-child(3) {
    border-bottom: 3px solid #e7e13c;
    /* สีแดง */
}

.data_box:nth-child(4) {
    border-bottom: 3px solid #2ecc71;
    /* สีเขียว */
}

.data_form {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.data_suffix {
    color: #c1baba;
    font-size: 15px;
}

@media (max-width: 767px) {
    .header_data_dashboard {
        flex-direction: row;
    }

    .data_box {
        width: calc(100% - 20px);
        /* กล่องเต็มแถว */
        margin-right: 0;
        /* ไม่ต้องมีระยะห่างด้านขวา */
    }
}

.header_data_box {
    margin-top: 20px;
}

.header_content {
    display: flex;
    align-items: center;
}

.header_icon {
    font-size: 20px;
    margin-left: 10px;
}

.header_data_box h1 {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 25px;
}

.header_data_box hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
    margin: 10px 0;
}

.graph_report {
    width: 100%;
    display: flex;
}

.container_graph {
    background-color: #fff;
    border: 1px solid #e9e7e7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 20px;
    width: 70%;
    box-sizing: border-box;
    margin: 10px;
}

.box_graph {
    background-color: #fff;
    border: 1px solid #e9e7e7;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 20px;
    width: 30%;
    box-sizing: border-box;
    margin: 10px;
}

.container_income_octagram {
    background-color: #fefefe;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 20px;
}

.header_income_octagram {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header_income_octagram span {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 25px;
}

.header_income_octagram span {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 20px;
}

.content_income_octagram {
    margin-top: 20px;
    text-align: center;
}

.content_income_octagram span {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 35px;
    color: #cac0c0;
}

#income_now {
    font-size: 70px;
    color: #76cf9b;
    text-shadow: 1px 1px 2px rgb(0, 0, 0);
}

.container_member_dashboard {
    background-color: #fefefe;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 8px;
    padding: 20px;
    margin-top: 10px;
}

.header_member_dashboard h1 {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 20px;
}

.member_box_dashboard {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.member_box_dashboard {
    padding: 5px;
    border: 1px solid #c8c5c5;
    margin-top: 5px;
    border-radius: 10px;
}

.member_user_dashboard img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}

.member_package_dashboard {
    margin: auto 0;
}

.member_package_dashboard span {
    font-family: 'Noto Sans Thai', sans-serif;
    font-size: 14px;
}

.member_creator_dashboard img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 50%;
}