<div class="side_bar">
    <div class="nav">
        <ul>
            <li>
                <a href="/home" class="nav_link">
                    <i class="fas fa-pager"></i>
                    <span>หน้าหลัก</span>
                </a>
            </li>
            <li>
                <a href="/search" class="nav_link">
                    <i class="fas fa-compass"></i>
                    <span>ค้นหาคริเอเตอร์</span>
                </a>
            </li>
            <!-- <li>
                <a href="#" class="nav_link">
                    <i class="fas fa-envelope"></i>
                    <span>ข้อความ</span>
                </a>
            </li> -->
            <li>
                <a href="/setting/basic" class="nav_link">
                    <i class="fas fa-gear"></i>
                    <span>ตั้งค่า</span>
                </a>
            </li>
        </ul>
    </div>
    <hr>
    <div class="membership_navbar">
        <span class="membership_title">การเป็นสมาชิก</span>
        <div class="membership_list" id="memberlist_navbar">
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navLinks = document.querySelectorAll('.nav_link');

        const currentPath = window.location.pathname;

        // Check each navigation link's href attribute against the current URL pathname
        navLinks.forEach(link => {
            const linkHref = link.getAttribute('href');
            if (linkHref === currentPath) {
                link.classList.add('active');
            }
        });

    });

    window.onload = async function () {
        fetch('/member/creator')
            .then(response => response.json())
            .then(memberlist => {

                let html = '';

                if (memberlist.length > 0) {
                    for (var count = 0; memberlist.length > count; count++) {
                        html += '<div class="creator_data">';
                        html += '<a href="/' + memberlist[count].creator_name + '" class="creator_link">';
                        html += '<img src=" ' + memberlist[count].img + '">';
                        html += '<span>' + memberlist[count].creator_name + '</span>';
                        html += '</a>';
                        html += '</div>';
                    }
                }
                else {

                    html += '<div class="creator_data_no">';
                    html += '<span><i class="fa-solid fa-user-xmark"></i></span>';
                    html += '<span>ยังไม่ได้สมัครสมาชิก</span>';
                    html += '<a href="/search">ค้นหาคริเอเตอร์</a>';
                    html += '</div>';

                }

                const memberlist_navbar = $("#memberlist_navbar");
                memberlist_navbar.empty();
                memberlist_navbar.append(html);
            })
    }

</script>