<div class="content">
    <div class="container_search">
        <div class="limit_search">
            <div class="header_search">
                <i class="fa-solid fa-magnifying-glass search_icons"></i>
                <span>ค้นหาครีเอเตอร์ของคุณ</span>
            </div>
            <div class="search_input">
                <div class="search_input_limiter">
                    <i class="fa-solid fa-magnifying-glass search_icons_input"></i>
                    <input class="search_text" type="text" name="search" id="search">
                </div>
            </div>
        </div>
    </div>
</div>