<nav class="nav_bar">
  <div class="navbar_container">
      <a href="/">
          <div class="nav_icon">
              <img src="/img/icon.png" alt="Logo">
              <h1>OCTAGRAM</h1>
          </div>
      </a>
      <div class="line_box">
      </div>
      <ul class="nav_links">
          <li><a href="/">หน้าหลัก</a></li>
          <li><a href="/creator/page">คริเอเตอร์</a></li>
          <li><a>หมวดหมู่</a></li>
      </ul>
      <ul class="nav_register">
          <li><a href="/login">SIGN IN ></a></li>
          <li><a href="/register" class="btn_reg">SIGN UP</a></li>
      </ul>
      <div class="nav_btn">
          <i class="fa fa-bars" aria-hidden="true"></i>
      </div>

      <div class="dropdown_menu">
          <ul class="dropmenu">
              <li><a href="/">HOME</a></li>
              <li><a href="/product">PRODUCT</a></li>
              <li><a href="/creator">CREATOR</a></li>
              <li><a href="/contact">CONTACT</a></li>
              <li><a href="/login">SIGN IN</a></li>
              <li><a href="/register" class="btn_reg">SIGN UP</a></li>
          </ul>
      </div>
  </div>
</nav>