<div class="member_title">
  <h1>สมาชิก</h1>
</div>
<nav>
  <ul>
    <li><a href="/admin/members" class="nav_setting">สมาชิกทั้งหมด</a></li>
    <li><a href="/admin/members/creator" class="nav_setting">คริเอเตอร์</a></li>
    <li><a href="/admin/members/reg_creator" class="nav_setting">สมัครคริเอเตอร์</a></li>
  </ul>
</nav>

<script>
  document.addEventListener('DOMContentLoaded', function () {
      const navSetting = document.querySelectorAll('.nav_setting');

      const currentPath = window.location.pathname;

      // Check each navigation link's href attribute against the current URL pathname
      navSetting.forEach(link => {
          const linkHref = link.getAttribute('href');
          if (linkHref === currentPath) {
              link.classList.add('active');
          }
      });

  });
</script>