<div class="content">
  <div class="limit_payout_page">
      <div class="payout_page">
          <%- include('./navbar.ejs')%>

          <div class="container_payout">
            <div class="container_withdraw">
              <div class="header_withdraw">
                <h1>ยอดเงินของคุณ</h1>
                <span>฿ 500</span>
                <p>ของเดือนนี้</p>
              </div>
              <div class="payout_method">
                <a>เพิ่มวิธีการรับเงิน</a>
              </div>
            </div>
          </div>


      </div>
  </div>
</div>