<div class="content">
    <div class="creator_page">
        <div class="bg_creator">
        </div>
        <!-- <div class="bg_creator_img">
            <div class="bg_image">
                <img src="/img/bg.jpg" alt="">
            </div>
        </div> -->
        <div class="limit_creator_profile">
            <div class="creator_profile">
                <div class="creator_content">
                    <img src="<%= SESSION_USER.creator_img %>" alt="">
                    <div class="creator_detail">
                        <span class="creators_name">
                            <%= SESSION_USER.creator_name %>
                        </span>
                        <span class="creators_desc"><%= SESSION_USER.creator_desc %></span>
                        <p>5.2M Members 41 Posts</p>
                    </div>
                </div>
                <div class="post">
                    <a href="" class="btn_post"><i class="fa-solid fa-pen-to-square fa-lg fas"></i>Create</a>
                    <i id="tooltip_creator" class="material-icons">more_horiz</i>
                </div>
            </div>
        </div>
        <div class="limit_navbar">
            <%- include('./navbar.ejs')%>
        </div>

        <!-- <div class="content_feed_limit">
            <div class="content_feed">
                <% for(var i=0; i < 20; i++) { %>
                    <div class="box_feed">
                        <div class="header_creator_feed">
                            <div class="creator_feed left">
                                <img src="/img/bg.jpg">
                                <div class="creator_info">
                                    <span class="post_creator_name">Creator</span>
                                    <span class="post_time_feed">4 DAYS AGO AT 10:58 AM</span>
                                </div>
                            </div>
                            <div class="tooltip right">
                                <i id="tooltip_click" class="material-icons">more_horiz</i>
                            </div>
                        </div>
                        <hr>
                        <div class="post_feed">
                            <div class="post_img_feed">
                                <img src="/img/bg.jpg" id="zoomable-image">
                            </div>
                            <div class="post_title_feed">
                                <span>[PUBLIC EPISODE] The Wizard, the Witch and the Wild One: ep013 “Of the Gentle
                                    Sea”</span>
                            </div>
                            <div class="post_desc_feed">
                                <p>
                                    Morning! Todays ep needs a bit longer in the old oven, and so it's gonna be out a
                                    li'l
                                    later. (Y'all these finale episodes are absolute thicc fellas). Please use the extra
                                    time to research which personal flotation devices are right for you and your family.
                                    It's never a bad time to brush up on maritime safety. Get your float on, fam! -t

                                    Update: pretty confident this sexy lil egg of an episode will drop on Wednesday.
                                    It’s
                                    got over 6,000 clips in it. That’s a lot of clips. you’re gonna love it. (Assuming
                                    you
                                    love clips!) And hey, to the 99.999% of you who are normal and supportive and
                                    friendly
                                    in the comments, you rock! Keeeeeep it up, the rocking that is!
                                </p>
                            </div>
                        </div>
                    </div>
                    <% } %>
                        <div class="limit_post">
                            <span>สิ้นสุดเนื้อหา</span>
                        </div>
            </div>
        </div> -->

        <div class="limit_post">
            <div class="creator_post">
                <div class="post_alert">
                    <h1>There is no post in this creator.</h1>
                </div>
            </div>
        </div>
    </div>
</div>