<div class="side_bar">
    <div class="nav">
        <ul>
            <li>
                <a href="/dashboard" class="nav_link">
                  <i class="fas fa-house"></i>
                  <span>หน้าหลัก</span>
                </a>
              </li>
              <li>
                <a href="/admin/members" class="nav_link">
                  <i class="fas fa-users"></i>
                  <span>สมาชิก</span>
                </a>
              </li>
              <li>
                <a href="/admin/category" class="nav_link">
                  <i class="fas fa-icons"></i>
                  <span>หมวดหมู่</span>
                </a>
              </li>
              <li>
                <a href="/admin/report" class="nav_link">
                  <i class="fas fa-flag"></i>
                  <span>รายงาน</span>
                </a>
              </li>
              <li>
                <a href="/admin/setting" class="nav_link">
                  <i class="fas fa-gear"></i>
                  <span>ตั้งค่า</span>
                </a>
              </li>
        </ul>
    </div>
    <hr>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const navLinks = document.querySelectorAll('.nav_link');

        const currentPath = window.location.pathname;

        // Check each navigation link's href attribute against the current URL pathname
        navLinks.forEach(link => {
            const linkHref = link.getAttribute('href');
            if (linkHref === currentPath) {
                link.classList.add('active');
            }
        });

    });

</script>