.container_login {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #9053c7;
  background: -webkit-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -o-linear-gradient(-135deg, #c850c0, #4158d0);
  background: -moz-linear-gradient(-135deg, #c850c0, #4158d0);
  background: linear-gradient(-135deg, #c850c0, #4158d0);
}

.limit_login {
  width: 30%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@media screen and (max-width: 1496px) {
  .limit_login{
    width: 80%;
  }
}

.box_login {
  padding: 50px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

@media screen and (max-height: 700px) {
  .container_login {
    height: 56rem;
  }
}

.icon_login {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.icon_login img{
  width: 90px;
  height: 90px;
}

.icon_login span{
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 25px;
}

.form_login {
  width: 100%;
  height: auto;
}

.form_login input {
  padding: 10px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #c9c3c3;
  margin-top: 10px;
  cursor: pointer;
}

.form_login input:hover {
  border: 1px solid #000000;
  transition-duration: 1s;
}

.form_login button {
  text-align: center;
  padding: 10px;
  width: 100%;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #c9c3c3;
  background-color: #22549F;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
  cursor: pointer;
}

.form_login button:hover {
  background-color: #183F7B;
}

.form_login span {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  font-size: 18px;
  color: #e96868;
}

.other_login {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  flex-direction: column;
}

.other_login span {
  color: #999696;
}

.google_login {
  margin-top: 20px;
  border: 1px solid #c4c4c4;
  border-radius: 10px;
  padding: 10px 20px 10px 20px;
  font-size: 20px;
  color: #000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.google_login:hover {
  background-color: #c4c4c4;
}

.fas {
  margin-right: 10px;
  font-size: 25px;
}

.page_register {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 50px;
}

.page_register span {
  color: #999696;
  margin-right: 5px;
}

.page_register a {
  text-decoration: underline;
}