<div class="container_post_choose fade-in-element" id="PostPopup">
  <div class="post_box_choose">
    <div class="close_popup_post" id="XmarkClose_Post">
      <i class="fa-solid fa-x"></i>
    </div>
    <span class="header_choose">What are you creating?</span>
    <div class="grid_post_box">
      <div class="grid_item">
        <a href="/post/text">
          <i class="fa-solid fa-font fas"></i>
          <span>Text</span>
        </a>
      </div>
      <div class="grid_item">
        <a href="/post/image" class="grid_info">
          <i class="fa-regular fa-image fas"></i>
          <span>Image</span>
        </a>
      </div>
    </div>
  </div>
</div>