<div class="container_popup" id="confirmationPopupStatus">
  <div class="popup">
    <div class="popup-content">
      <div class="popup-close-x" id="closePopupXStatus">X</div>
      <div class="popup-title">คุณยังไม่ได้รับการยืนยัน!</div>
      <div class="popup-message">ไม่สามารถทำรายการได้เนื่องจากยังไม่ได้รับการยืนยันเป็นคริเอเตอร์</div>
      <button class="popup-close" id="closePopupButtonStatus">ปิด</button>
    </div>
  </div>
</div>